// Desktops & Laptops
@include mediaLg {
  #home {
    padding: 50px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "right"
      "left";

    .left {
      padding-top: 30px;
      text-align: center;

      .buttons {
        margin: 30px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
          "button1"
          "button2";
        justify-items: center;
        align-items: center;

        .button {
          margin: 5px 0 !important;
          &.button-1 {
            grid-area: button1;
          }
          &.button-2 {
            grid-area: button1;
          }
        }
      }
    }

    .right {
      //   display: none;
      .portrait {
        float: none;
        // background: url("../img/portrait_small.jpg");
        background-size: contain;
        width: 300px;
        height: 300px;
        margin: 0 auto 30px;

        .circle {
          content: "";
          position: absolute;
          // margin: 50px;
          top: 15px;
          left: 30px;
          width: 300px;
          height: 300px;
        }
      }
    }
  }
}

// Tablets & Small Laptops
@include mediaMd {
  #home {
    padding: 50px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "right"
      "left";

    .left {
      padding-top: 20px;
      text-align: center;
      .lg-header {
        font-size: 40px;
      }

      .md-header {
        font-size: 30px;
      }

      .buttons {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
          "button1"
          "button2";
        justify-items: center;
        align-items: center;

        .button {
          margin: 5px 0 !important;
          &.button-1 {
            grid-area: button1;
          }
          &.button-2 {
            grid-area: button1;
          }
        }
      }
    }

    .right {
      //   display: none;
      .portrait {
        float: none;
        background: url("../img/portrait_small.jpg");
        background-size: contain;
        width: 200px;
        height: 200px;
        margin: 0 auto 30px;

        .circle {
          content: "";
          position: absolute;
          // margin: 50px;
          top: 15px;
          left: 30px;
          width: 200px;
          height: 200px;
        }
      }
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url("../img/portrait_small.jpg");
      width: 150px;
      height: 150px;
    }
  }

  #about {
    .about-info {
      padding: 0 20px;
    }
  }

  #projects {
    .project-box {
      width: 100%;
      text-align: center;

      .details {
        padding-left: 8%;
        padding-right: 8%;
      }

      .images {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;
        justify-items: center;

        .img {
          height: 580px;
          width: 290px;
          margin-bottom: 15px;
        }
      }
    }
  }

  .lg-heading-box {
    .background-heading {
      margin-left: 20px;
    }

    .forefront-heading {
      left: 50px;
    }
  }
}

// Smartphones
@include mediaSm {
  #home {
    .left {
      .lg-header {
        font-size: 40px;
      }

      .md-header {
        font-size: 30px;
      }
    }
  }

  #about {
    .about-info {
      padding: 0 20px;
    }
  }

  #projects {
    .project-box {
      width: 100%;
      // text-align: center;

      .details {
        text-align: left;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}
